<!DOCTYPE HTML>
<html lang = "en">
	<head>
		<meta charset="utf-8" />
		<title>I-Geek | Forum Single</title>
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta property="og:type" content="company" />
		<meta property="og:title" content="I-Geek | Home" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="" />
		<meta property="og:site_name" content="I-Geek | Home" />
		<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/dat-menu.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/main-stylesheet.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/responsive.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:300,400,700|Source+Sans+Pro:300,400,600,700&amp;subset=latin,latin-ext" />
		<meta name="theme-color" content="black">
		<meta name="msapplication-navbutton-color" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--[if lt IE 9 ]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
			/* Man content & sidebar top lne, default #256193 */
			#sidebar .panel,
			#main-box #main {
				border-top: 5px solid #256193;
			}

			/* Slider colors, default #256193 */
			a.featured-select,
			#slider-info .padding-box ul li:before,
			.home-article.right ul li a:hover {
				background-color: #256193;
			}

			/* Button color, default #256193 */
			.panel-duel-voting .panel-duel-vote a {
				background-color: #256193;
			}

			/* Menu background color, default #000 */
			#menu-bottom.blurred #menu > .blur-before:after {
				background-color: #000;
			}

			/* Top menu background, default #0D0D0D */
			#header-top {
				background: #0D0D0D;
			}

			/* Sidebar panel titles color, default #333333 */
			#sidebar .panel > h2 {
				color: #333333;
			}

			/* Main titles color, default #353535 */
			#main h2 span {
				color: #353535;
			}

			/* Selection color, default #256193 */
			::selection {
				background: #256193;
			}

			/* Links hover color, default #256193 */
			.article-icons a:hover,
			a:hover {
				color: #256193;
			}

			/* Image hover background, default #256193 */
			.article-image-out,
			.article-image {
				background: #256193;
			}

			/* Image hover icons color, default #256193 */
			span.article-image span .fa {
				color: #256193;
			}
		</style>
	</head>
	<body class="no-slider">
	<!-- <body class="has-top-menu"> -->
		<!-- BEGIN #slider-imgs -->
		<div id="slider-imgs">
			<div class="featured-img-box">
				<div id="featured-img-1" class="featured-img"></div>
				<div id="featured-img-2" class="featured-img invisible"></div>
				<div id="featured-img-3" class="featured-img invisible"></div>
				<div id="featured-img-4" class="featured-img invisible"></div>
			</div>
		<!-- END #slider-imgs -->
		</div>

		<!-- BEGIN #top-layer -->
		<div id="top-layer">
			<div id="header-top">
				<div class="wrapper">
					<ul class="right">

						<li><a href="https://github.com/AntonMakhniuk/PPY_Project_2023" target="_blank"><i class="fa fa-github"></i></a></li>
						<li><a class="header-button__icon tooltip" data-place="bottom-end" aria-label="Theme" data-toggle-theme="" onclick="myFunction()"><i class="fa fa-moon-o"></i></a></li>
					</ul>
					<ul class="load-responsive" rel="Menu">
						<li><a href="login.html">Login</a></li>
                        <li><a href="signup.html">signup</a></li>
					</ul>
				</div>
			</div>
			<section id="content">

				<header id="header">
					<div id="menu-bottom">
						<nav id="menu" class="main-menu">
							<div class="blur-before"></div>
							<a href="/" class="header-logo left"><img src="images/logo.png" class="logo" alt="Revelio" title="" /></a>
							<a href="#dat-menu" class="datmenu-prompt"><i class="fa fa-bars"></i>Menu</a>
							<ul class="load-responsive" rel="Main menu">
								<li><a href="/get-reviews"><span><i class="fa fa-comment"></i><strong>Review</strong></span></a>

								</li>
								<li><a><span id="search-link" title="Search"><i class="fa fa-search"></i> Search</span></a>

								</li>
								<li><a ><span><i class="fa fa-paint-brush"></i>some</span></a>
									<ul class="sub-menu">
										<li><a href="/get-categories">category's</a></li>
										<li><a href="/get-artworks">artworks</a></li>
									</ul>
								</li>
								<li><a href="forum.html"><span><i class="fa fa-comments-o"></i><strong>forum</strong></span></a>
									<ul class="sub-menu">
										<li><a href="forum.html">forum</a></li>
										<li><a href="forum-threads.html">forum-threads</a></li>
										<li><a href="forum-single.html">forum-single</a></li>
										<li><a href="forum-create.html">orum-create</a></li>
									</ul>
								</li>
								<li><a href="/get-users/{user_id}"><span><i class="fa fa-users"></i><strong>user</strong></span></a>

								</li>
							</ul>
						</nav>
					</div>

					<div class="wrapper">
						<div class="header-breadcrumbs">
							<h2 class="right">Cool thread title</h2>
							<ul>
								<li><a href="index.html">Homepage</a></li>
								<li><a href="forum.html">Forum</a></li>
								<li><a href="forum-threads.html">Complete Offtopic</a></li>
							</ul>
						</div>
					</div>
					
				</header>
				<div id="main-box" class="full-width">
					
					<div id="main">
						<div class="forum-block">

							<h2><span><i class="fa fa-lock"></i>Cool thread title</span></h2>
							
							<div class="content-padding">
								<div class="forum-description">
									<div class="pagination right">
										<span class="page-num current">1</span>
										<a href="#" class="page-num">2</a>
										<a href="#" class="page-num">3</a>
									</div>
									<div class="topic-right right">
										<span><i class="fa fa-unlock-alt"></i>Thread closed</span>
										<span>12 Posts</span>
									</div>

									<a href="#quick-reply" class="newdefbutton margin-right scroll"><i class="fa fa-comment-o"></i>Post answer</a>
									<a href="#" class="newdefbutton margin-right admin-color"><i class="fa fa-unlock"></i>Unlock Thread</a>
									<!-- <a href="#" class="newdefbutton margin-right admin-color"><i class="fa fa-lock"></i>Close Thread</a> -->
									<a href="#" class="newdefbutton margin-right admin-color"><i class="fa fa-level-up"></i>Pin</a>
									<!-- <a href="#" class="newdefbutton margin-right admin-color"><i class="fa fa-level-down"></i>Unpin</a> -->
								</div>
							</div>

							<!-- BEGIN .forum-thread -->
							<div class="forum-thread">

								<!-- BEGIN .forum-post -->
								<div class="forum-post" id="post-1">
									<div class="user-block">
										<a href="user-single.html" class="avatar online user-tooltip">
											<img src="images/photos/avatar-11.jpg" class="setborder" title="" alt="" />
										</a>
										<div class="user-account">
											<div>
												<a href="user-single.html" class="forum-user user-tooltip"><b>Datcouch</b></a>
											</div>
											<div>
												<span>Rating: <strong class="rating-good">+3000</strong></span>
											</div>
											<div>
												<span><strong>293</strong> posts</span>
											</div>
										</div>
										<div class="clear-float"></div>
									</div>
									<div class="post-text-block">
										<p>Hello there,<br/><br/>Mel ad oratio efficiantur, ad sed debet principes moderatius. Cum velit ludus iriure id, his id nonumy maiestatis definitiones. Error mundi mel et, ex pro libris democritum.</p>

										<img src="images/photos/image-16.jpg" alt="" />

										<p>Sed facer summo elaboraret et, nam et partem petentium scribentur. Legere graecis pro at. An mucius lucilius philosophia per, praesent tincidunt abhorreant ad nam, vocibus offendit cu eam.<br/><br/>Accumsan adipisci sed an, et duo putant vocent disputationi, ex mea libris mediocrem. Duo ex partem aperiri consulatu, ne est enim quodsi disputationi.<br/><br/>Simple link: <a href="http://datcouch.com" target="_blank">http://datcouch.com</a></p>
										<div class="post-signature">
											<p>Small signature</p>
										</div>
									</div>
									<div class="post-meta-block">
										<div>
											<a href="#post-1">#1</a>
										</div>
										<div>
											<span class="post-date">20.Mar 2014</span>
										</div>
										<div>
											<a href="#" class="strike-tooltip" title="Positive"><i class="fa fa-thumbs-up rating-good"></i></a>
											<span class="the-rate rating-good">101</span>
											<a href="#" class="strike-tooltip" title="Negative"><i class="fa fa-thumbs-down rating-bad"></i></a>
										</div>
										<!-- <div>
											<a href="#"><i class="fa fa-thumbs-up rating-good"></i></a>
											<span class="the-rate rating-bad">-20</span>
											<a href="#"><i class="fa fa-thumbs-down rating-bad"></i></a>
										</div> -->
										<div class="bottom">
											<a href="#" class="defbutton admin-color"><i class="fa fa-trash-o"></i></a>
											<a href="#" class="defbutton admin-color"><i class="fa fa-pencil"></i></a>
											<a href="#quick-reply" class="defbutton scroll"><i class="fa fa-comment-o"></i>Reply</a>
										</div>
									</div>
								<!-- END .forum-post -->
								</div>

								<!-- BEGIN .forum-post -->
								<div class="forum-post" id="post-2">
									<div class="user-block">
										<a href="user-single.html" class="avatar offline user-tooltip">
											<img src="images/photos/avatar-24.jpg" class="setborder" title="" alt="" />
										</a>
										<div class="user-account">
											<div>
												<a href="user-single.html" class="forum-user user-tooltip"><b>Minkka.</b></a>
											</div>
											<div>
												<span>Rating: <strong class="rating-bad">-25</strong></span>
											</div>
											<div>
												<span><strong>4</strong> posts</span>
											</div>
										</div>
										<div class="clear-float"></div>
									</div>
									<div class="post-text-block">
										<p>Hello there,<br/><br/>Mel ad oratio efficiantur, ad sed debet principes moderatius. Cum velit ludus iriure id, his id nonumy maiestatis definitiones. Error mundi mel et, ex pro libris democritum.</p>

										<p>Accumsan adipisci sed an, et duo putant vocent disputationi, ex mea libris mediocrem. Duo ex partem aperiri consulatu, ne est enim quodsi disputationi.<br/><br/>Simple link: <a href="http://datcouch.com" target="_blank">http://datcouch.com</a></p>
										<div class="comment-edited">
											<span><i class="fa fa-pencil"></i>Edited by <a href="user-single.html" class="user-tooltip"><b>datcouch</b></a>, 11:22, Sep 11, 2012</span>
										</div>
									</div>
									<div class="post-meta-block">
										<div>
											<a href="#post-2">#2</a>
										</div>
										<div>
											<span class="post-date">20.Mar 2014</span>
										</div>
										<!-- <div>
											<a href="#" class="strike-tooltip" title="Positive"><i class="fa fa-thumbs-up rating-good"></i></a>
											<span class="the-rate rating-good">101</span>
											<a href="#" class="strike-tooltip" title="Negative"><i class="fa fa-thumbs-down rating-bad"></i></a>
										</div> -->
										<div>
											<a href="#"><i class="fa fa-thumbs-up rating-good"></i></a>
											<span class="the-rate rating-bad">-20</span>
											<a href="#"><i class="fa fa-thumbs-down rating-bad"></i></a>
										</div>
										<div class="bottom">
											<a href="#quick-reply" class="defbutton scroll"><i class="fa fa-comment-o"></i>Reply</a>
										</div>
									</div>
								<!-- END .forum-post -->
								</div>

								<!-- BEGIN .forum-post -->
								<div class="forum-post" id="post-3">
									<div class="user-block">
										<a href="user-single.html" class="avatar away user-tooltip">
											<img src="images/photos/avatar-22.jpg" class="setborder" title="" alt="" />
										</a>
										<div class="user-account">
											<div>
												<a href="user-single.html" class="forum-user user-tooltip"><b>Kotlete</b></a>
											</div>
											<div>
												<span>Rating: <strong>0</strong></span>
											</div>
											<div>
												<span><strong>4</strong> posts</span>
											</div>
										</div>
										<div class="clear-float"></div>
									</div>
									<div class="post-text-block">
										<p>Hello there,<br/><br/>Mel ad oratio efficiantur, ad sed debet principes moderatius. Cum velit ludus iriure id, his id nonumy maiestatis definitiones. Error mundi mel et, ex pro libris democritum.</p>

										<p>Accumsan adipisci sed an, et duo putant vocent disputationi, ex mea libris mediocrem. Duo ex partem aperiri consulatu, ne est enim quodsi disputationi.<br/><br/>Simple link: <a href="http://datcouch.com" target="_blank">http://datcouch.com</a></p>
									</div>
									<div class="post-meta-block">
										<div>
											<a href="#post-3">#3</a>
										</div>
										<div>
											<span class="post-date">20.Mar 2014</span>
										</div>
										<!-- <div>
											<a href="#" class="strike-tooltip" title="Positive"><i class="fa fa-thumbs-up rating-good"></i></a>
											<span class="the-rate rating-good">101</span>
											<a href="#" class="strike-tooltip" title="Negative"><i class="fa fa-thumbs-down rating-bad"></i></a>
										</div> -->
										<div>
											<a href="#"><i class="fa fa-thumbs-up rating-good"></i></a>
											<span class="the-rate">0</span>
											<a href="#"><i class="fa fa-thumbs-down rating-bad"></i></a>
										</div>
										<div class="bottom">
											<a href="#quick-reply" class="defbutton scroll"><i class="fa fa-comment-o"></i>Reply</a>
										</div>
									</div>
								<!-- END .forum-post -->
								</div>

							<!-- END .forum-thread -->
							</div>
							
							<div class="content-padding quick-reply" id="quick-reply">
								<div class="forum-description">
									<a href="#quick-reply" class="newdefbutton"><i class="fa fa-comment-o"></i>Quick reply</a>
								</div>
								<div class="reply-box">
									<div class="comment-avatar left">
										<a href="user-single.html" class="avatar big">
											<span class="wrapimg"><img src="images/photos/avatar-1.jpg" class="setborder" title="" alt=""></span>
										</a>
									</div>
									<div class="reply-textarea">
										<form action="" method="get">
											<div class="respond-textarea">
												<div class="textarea-arrow"></div>
												<div class="textarea-wrapper strike-wysiwyg-enable" rel="wys-current">
													<div class="bbcodes">
														<a href="#strike-bb" class="strike-bold"><i class="fa fa-bold strike-tooltip" title="Bold"></i></a>
														<a href="#strike-bb" class="strike-italic"><i class="fa fa-italic strike-tooltip" title="Italic"></i></a>
														<a href="#strike-bb" class="strike-strike"><i class="fa fa-strikethrough strike-tooltip" title="Strike"></i></a>
														<a href="#strike-bb" class="strike-underline"><i class="fa fa-underline strike-tooltip" title="Underline"></i></a>
														<a href="#strike-bb" class="strike-link"><i class="fa fa-chain strike-tooltip" title="Hyperlink"></i></a>
														<a href="#strike-bb" class="strike-photo"><i class="fa fa-picture-o strike-tooltip" title="Photo"></i></a>
														<a href="#strike-bb" class="strike-quote"><i class="fa fa-comment strike-tooltip" title="Quote"></i></a>
														<a href="#strike-bb" class="strike-yt"><i class="fa fa-youtube strike-tooltip" title="Youtube video"></i></a>
														<a href="#strike-bb" class="strike-code"><i class="fa fa-code strike-tooltip" title="Code"></i></a>
														<a href="#strike-bb-switch" class="right"><i class="fa fa-css3 strike-tooltip" title="Revelio WYSIWYG"></i></a>
													</div>
													<textarea name="comment-text"></textarea>
												</div>
											</div>
											<div class="respond-submit">
												<a href="forum-create.html#preview-post" class="newdefbutton">Preview</a>
												<input type="submit" name="send" value="Post Reply">
											</div>
										</form>
									</div>
								</div>
							</div>
							
							<div class="content-padding">
								<div class="forum-description">
									<div class="pagination right">
										<span class="page-num current">1</span>
										<a href="#" class="page-num">2</a>
										<a href="#" class="page-num">3</a>
									</div>
									<div class="topic-right right">
										<span><i class="fa fa-unlock-alt"></i>Thread Closed</span>
										<span>12 Posts</span>
									</div>
								</div>
							</div>

						</div>
						
					</div>
					
					<div class="clear-float"></div>
					
				</div>
			</section>
			</div>
		</div>
			
		<div class="clear-float"></div>
		
		<div class="wrapper">
			<!-- BEGIN .footer -->
			<div class="footer">

				<div class="footer-top"></div>
				
				<div class="footer-content">



					<!-- BEGIN .panel -->
					<div class="panel">
						<h2>Contact info</h2>
						<div class="panel-content">

							<div>
								<h4>If you want to contact us</h4>
								<p>here our Emails</p>

								<a href="mailto:s24379@pjwstk.edu.pl" class="icon-line">
                                    <i class="fa fa-comment"></i><span>s24379@pjwstk.edu.pl</span>
								</a>
			                     <a href="mailto:s25416@pjwstk.edu.pl" class="icon-line">
									<i class="fa fa-comment"></i><span>s25416@pjwstk.edu.pl</span>
								</a>
                                <p>Also here our GitHub link</p>
                                <a href="https://github.com/AntonMakhniuk/PPY_Project_2023" class="icon-line">
									<i class="fa fa-github"></i><span>GitHub link</span>
								</a>
							</div>

						</div>
					<!-- END .panel -->
					</div>

					<!-- BEGIN .panel -->
					<div class="panel">
						<h2>Tags Cloud</h2>
						<form action="/get-tags" method="get">
							<div class="panel-content">
								{% for tag in tags %}
								<div class="tagcloud">
									<a href="/get-tags/{tag_id}">{{tag.name}}</a>
								</div>
								{% endfor %}
							</div>
							</form>
					<!-- END .panel -->
					</div>

				</div>

				<div class="footer-bottom">
					<div class="left">&copy; Copyright 2023 <strong>I-Geek</strong> designed by <strong>Oleksandr Sokil s25416</strong></div>
					<div class="right">
						<ul>
							<li><a href="/">Home page</a></li>
							<li><a href="about.html">About us</a></li>
						</ul>
					</div>
					<div class="clear-float"></div>
				</div>
				
			<!-- END .footer -->
			</div>
		</div>
		<script type='text/javascript' src='jscript/jquery-1.11.2.min.js'></script>
		<script type='text/javascript' src='jscript/modernizr.custom.50878.js'></script>
		<script type='text/javascript' src='jscript/iscroll.js'></script>
		<script type='text/javascript' src='jscript/dat-menu.js'></script>
		<script type='text/javascript'>
			var strike_autostart = false;
		</script>
		<script type='text/javascript' src='jscript/rangyinputs-jquery-1.1.2.min.js'></script>
		<script type='text/javascript' src='jscript/rangy-core.js'></script>
		<script type='text/javascript' src='jscript/rangy-selectionsaverestore.js'></script>
		<script type='text/javascript' src='jscript/theme-script.js'></script>
	</body>
</html>