<!DOCTYPE html>
<html lang="en">
<head>
    <title>Artworks</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            color: #000;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Artworks</h1>
    <form action="/get-artworks" method="get">
    <ul>
        {% for artwork in artworks %}
            <li>
                <a href="/artworks/{{ artwork_id }}">{{ artwork.title }}</a>
            </li>
        {% endfor %}
    </ul>
    </form>
</body>
</html>
