<!DOCTYPE html>
<html lang="en">
<head>
    <title>Category</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #666;
            font-size: 24px;
        }

        p {
            color: #999;
        }
    </style>
</head>
<body>
 <form action="/get-categories/{category_id}" method="get">
    <h1>Category</h1>
    <h2>{{ category.name }}</h2>
    <p>{{ category.description }}</p>
 </form>
</body>
</html>
