<!DOCTYPE html>
<html lang="en">
<head>
    <title>Categories</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Categories</h1>
    <form action="/get-categories" method="get">
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
            <li>{{ category.description }}</li>
        {% endfor %}
    </ul>
    </form>
</body>
</html>
