<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comment</title>
<style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
        }

        p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Comment</h1>
    <form action="/get-comments/{comment_id}" method="get">
        <p>{{ comment.text }}</p>
        <p>{{ comment.likes }}</p>
        <p>{{ comment.dislikes }}</p>

    </form>
</body>
</html>
