<!DOCTYPE html>
<html lang="en">
<head>
    <title>Review</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
        }

        p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<form method="get" action="/get-reviews/{review_id}">
    <h1>Review</h1>
    <p>Rating: {{ review.score }}</p>
    <p>Comment: {{ review.text }}</p>
</form>
</body>
</html>
